<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhr.project.mapper.TaskMapper">

    <resultMap id="BaseResultMap" type="com.xhr.project.model.entity.Task">
            <id property="tid" column="tid" jdbcType="BIGINT"/>
            <result property="taskInfo" column="taskInfo" jdbcType="VARCHAR"/>
            <result property="taskState" column="taskState" jdbcType="VARCHAR"/>
            <result property="uid" column="uid" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        tid,taskInfo,taskState,
        uid,createTime,updateTime,
        isDelete
    </sql>
</mapper>
